<ion-header class='ion-no-border'>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='dismissModal()'>Откажи</ion-button>
    </ion-buttons>
    <ion-title
    >Додади резервација
    </ion-title>
    <ion-buttons class='toolbar-buttons-end' slot='end'>
      <ion-button (click)='submitData()'>Додади
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-row class="ion-padding">
    <ion-col>
      <ion-label
      >Додади нова резервација во твојата листа!
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <form [formGroup]="addReservationForm">
        <ion-list>
          <ion-input type="text" formControlName="reservationName" label="Име на резервацијата"
                     labelPlacement="floating" placeholder="Внеси име"></ion-input>
          <ion-input type="number" formControlName="numberOfGuests" label="Број на луѓе" labelPlacement="floating"
                     placeholder="Внеси број"></ion-input>

          <ion-select label="Маса за резервација" placeholder="Одбери маса"
                      class="ion-margin-top" formControlName="table">
            <ion-select-option *ngFor="let table of tables" value="{{table.tableNumber}}">Маса {{table.tableNumber}} (макс : {{table.capacity}}) </ion-select-option>
          </ion-select>


          <div class="date-of-reservation ion-padding">
            <ion-datetime formControlName="date"></ion-datetime>
          </div>

          <div class="is-smoking-area">
            <ion-checkbox formControlName="isSmokingArea" class="ion-margin-top" justify="end">Пушачки дел
            </ion-checkbox>
          </div>
        </ion-list>

      </form>

    </ion-col>
  </ion-row>


</ion-content>



