
ion-content{
  &::part(background) {
    background: darkgrey;
  }
}

ion-input{
  --background : white;
  --color: black;
  --border-radius: 1rem;
  --padding-start: .4rem;
  margin-top: 1rem;
}

ion-select{
  background: white;
  color: black;
  padding: .4rem;
  border-radius: 1rem;
}

ion-list{
  background: transparent;
}

.is-smoking-area{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: end;
  padding-right: .5rem;
}

ion-checkbox {
  --size: 32px;
  --checkbox-background-checked: #6815ec;
  --checkbox-background: white;
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #6815ec;
}

.date-of-reservation{

  & > ion-datetime{
   border-radius: 1rem;
  }
  display: flex;
  align-content: center;
  justify-content: center;
}


