<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Маси</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddTableModal()"> Додади </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" >

  <ion-list class="tables">
    <ion-item *ngFor="let table of tables">
      <ion-label class="table-item">
        <ion-icon *ngIf="!table.isSmoking" name="logo-no-smoking"></ion-icon>
        <h2>Број на маса: {{table.tableNumber}}</h2>
        <h3>Капацитет: {{table.capacity}} луѓе</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="empty-list" *ngIf="!tables?.length">
    <h5>Нема достапни маси</h5>
  </div>

</ion-content>
