<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Резервации</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openAddReservationModal()"> Додади </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" >

  <ion-item>
    <ion-select justify="space-between" label="Избери ден" placeholder="Избери ден">
      <ion-select-option value="apple">Денес</ion-select-option>
      <ion-select-option value="banana">Утре</ion-select-option>
      <ion-select-option value="orange">Задутре</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-list class="reservations">
    <ion-item *ngFor="let reservationTable of reservations">
      <ion-label class="reservation-item">
        <ion-icon *ngIf="!reservationTable.reservation.isSmokingArea" name="logo-no-smoking"></ion-icon>
        <h2>Име на резервација: <b>{{reservationTable.reservation.reservationName}}</b> </h2>
        <h3>Број на луѓе: <b>{{reservationTable.reservation.numberOfGuests}}</b></h3>
        <h3>Датум: <b>{{reservationTable.reservation.date |  date}}</b></h3>
        <h3>Маса број: <b>{{reservationTable.table.tableNumber}}</b></h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
