ion-list {
  background: transparent;
}

ion-item {
  margin: 6px;
  border-radius: .5rem;
}

.reservations {
  & > ion-item::part(native){
    min-height: 5rem;
    background: white;
    color: black;
  }
}

.reservation-item{

  position: relative;

  & > ion-icon {
    position: absolute;
    right: 0;
    top: .2rem;
    font-size: 18px;
  }
}

