
ion-content{
  &::part(background) {
    background: darkgrey;
  }
}

ion-input{
  --background : white;
  --color: black;
  --border-radius: 1rem;
  --padding-start: .4rem;
  margin-top: 1rem;
}

ion-list{
  background: transparent;
}

ion-item{
  --background: white;
  border-radius: 1rem;
  margin: 16px;

}
