<ion-header class='ion-no-border'>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='dismissModal()'>Откажи</ion-button>
    </ion-buttons>
    <ion-title
      >Додади маса</ion-title>
    <ion-buttons class='toolbar-buttons-end' slot='end'>
      <ion-button (click)='submitData()'>Додади
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-row class="ion-padding">
  <ion-col>
    <ion-label
    >Додади ја масата која што ти фали во листата!
    </ion-label>
  </ion-col>
</ion-row>

  <ion-row>
    <ion-col>
      <form [formGroup]="addTableForm">
        <ion-list>
            <ion-input type="number" formControlName="tableNumber" label="Број на маса" labelPlacement="floating" placeholder="Внеси број"></ion-input>
            <ion-input type="number" formControlName="capacity" label="Капацитет" labelPlacement="floating" placeholder="Внеси број"></ion-input>
        </ion-list>
      </form>

    </ion-col>
  </ion-row>



</ion-content>



