<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="reservations" href="/tabs/reservations">
      <ion-icon name="journal"></ion-icon>
      <ion-label>Резервации</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tables" href="/tabs/tables">
      <ion-icon aria-hidden="true" name="layers"></ion-icon>
      <ion-label>Маси</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
