.empty-list{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: black;
}

ion-content{
  --padding-start: .4rem;
  --padding-end: .4rem;
  --padding-top: .4rem;
  --padding-bottom: .4rem;

  &::part(background) {
    background: #5c6bc4;
  }
}

.success-toast {
  --background: var(--ion-color-secondary);
  --box-shadow: 3px 3px 10px 0 rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.error-toast {
  --background: var(--ion-color-danger);
  --box-shadow: 3px 3px 10px 0 rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
